@import url('reset.css');
@import url('font.css');
@import url('theme.css');
@import url('style.css');

/* Components */
@import url('components/footer.css');
@import url('components/header.css');
@import url('components/hero.css');
@import url('components/product-teaser.css');
@import url('components/teaser-cta.css');
@import url('components/teaser-row.css');

.content {
    min-height: 600px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

main {
    z-index: 1;
}
