header {
    position: sticky;
    top: 0;
    min-height: 67px;
    background-color: var(--color-brand);
    padding: 1rem 0;
    color: #ffffff;

    [data-theme="dark"] {
        color: #000000;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    font-size: 1.5rem;
}

.menu-container {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

header > div.menu-container > nav {
    display: flex;
    background-color: var(--color-brand);
}

header > div.menu-container > nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header > div.menu-container > nav > ul > li {
    margin: 0 15px;
}

a {
    text-decoration: none;
}

.mobile-nav {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    .mobile-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 66px;
        left: 0;
        width: 100%;
    }

    .mobile-nav a {
        padding: 10px;
        display: block;
    }

    .menu-container.active .mobile-nav {
        display: flex;
    }
}
