header {
    position: sticky;
    top: 0;

    background-color: var(--color-brand);
    padding: 1rem 0;
    color: #ffffff;

    [data-theme="dark"] {
        color: #000000;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 1rem;
            }
        }

        li#basket-badge {
            color: black;

            a > button {
                text-decoration: none;
            }
        }

        li:first-child {
            padding-left: 4rem;
        }

        li:last-child {
            padding-right: 4rem;
        }

        @media screen and (max-width: 768px) {
            li:first-child {
                padding-left: 1rem;
            }

            li:last-child {
                padding-right: 1rem;
            }
        }
    }
}
