.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .hero-text {
        width: 50%;
        background-color: var(--color-gray-d1);
        padding: 4rem 4rem;

        > * {
            margin-bottom: 1rem;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    .hero-img {
        width: 50%;

        img {
            border-radius: 0;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}
