#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    .product-teaser {
        max-width: 350px;

        button {
            margin-left: 1rem;
        }

        img {
            width: 350px;
            height: 400px;
            object-fit: contain;
        }
    }
}
