.teaser-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .teaser-row-item {
        div.teaser-row-item_img {
            width: 200px;
            height: 200px;
            overflow: hidden;
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
            border-radius: 10px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}
