#clear-basket {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#buy-basket {
    background-color: #1f936b;
    color: white;
}


#buy-basket:hover {
    background-color: #197a59;
}

#basket-product-list {
    width: 100%;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 95vw;
    table-layout: fixed;
    margin: 20px 0;
    color: black;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

tr {
    background-color: #fff;
}

tr > th:first-child,
tr > th:last-child {
    width: 20vw;
    text-align: center;
}

tr > td:first-child,
tr > td:last-child {
    text-align: center;
}

/* Style for alternating rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style for table cells */
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Hover effect on table rows */
tr:hover {
    background-color: #ccc;
}
